{% extends "pages/league_base.html" %}
{% load static %}
{% block title %}League{% endblock %}

{% block content %}
{% if user.is_authenticated %}
    <div class="icon_logo">
        <div class="teams_icon">
        {% if user.user_profile.user_type == 'organizer' %}
        <button>
        <a href="/teams/add_team"><img src="{% static 'images/image_insert.png' %}" class="image_insert"/></a>
        </button>
        {% endif %}
        {% for team in team_list %}
            <img src="{{ team.team_image.url }}" class="icon"/>
        {% endfor %}
        </div>
        <div class="logo">
        <div class="user">
            <b class="username">{{username}}</b>
            <a href="{% url 'logout' %}" class="logout">Log Out</a>
        </div>
        <b class="logo_name">Premiere League</b>
        <b class="season">Season 2022 - 2023</b>
        <img src="{% static 'images/Premiere-League.png' %}" class="league-image"/>
        </div>
    </div>
    <div class="menu">
        <input type="checkbox" id="nav-toggle" class="nav-toggle">
        <label for="nav-toggle" class="nav-toggle-label">
        <span></span>
        </label>
        <ul class="nav-items">
        <li><a href="/">Home</a></li>
        <li><a href="/matches">Matches</a></li>
        <li><a href="/teams">Teams</a></li>
        <li><a href="/players">Players</a></li>
        <li><a href="/managers">Managers</a></li>
        <li><a href="/league">League</a></li>
        </ul>
    </div>
    <style>
        table, th, td {
            border: 1px solid black;
        }
    </style>
    
    <div class="container">
    </br>
        <h3 class="display-4 font-select"> Standings</h3>
    </br>
        <table class="table">
            <thead>
                <tr>
                    <th>Rank</th>
                    <th>Name</th>
                    <th>Matches</th>
                    <th>Wins</th>
                    <th>Draws</th>
                    <th>Loses</th>
                    <th>Goals</th>
                    <th>Goals Conceded</th>
                    <th>Goal Difference</th>
                    <th>Points</th>
                </tr>
            </thead>
            <tbody>
                {% for team_stat in ranked_teams %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ team_stat.team.team_name }}</td>
                    <td>{{ team_stat.wins|add:team_stat.draws|add:team_stat.loses }}</td>
                    <td>{{ team_stat.wins }}</td>
                    <td>{{ team_stat.draws }}</td>
                    <td>{{ team_stat.loses }}</td>
                    <td>{{ team_stat.goals }}</td>
                    <td>{{ team_stat.goalsconceded }}</td>
                    <td>{{ team_stat.goaldifference }}</td>
                    <td>{{ team_stat.pts }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </br>
        <h3 class="display-4 font-select"> Top scorers</h3>
    </br>
        <table class="table">
            <thead>
                <tr>
                    <th>Rank</th>
                    <th>Name</th>
                    <th>Team</th>
                    <th>Position</th>
                    <th>Appearances</th>
                    <th>Goals</th>
                </tr>
            </thead>
            <tbody>
                {% for player_stat in top_scorers %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ player_stat.player.name }}</td>
                    <td>{{ player_stat.player.team }}</td>
                    <td>{{ player_stat.player.position }}</td>
                    <td>{{ player_stat.player.team.team_stat.wins|add:player_stat.player.team.team_stat.draws|add:player_stat.player.team.team_stat.loses }}</td>
                    <td>{{ player_stat.numberofgoals }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </br>
    <h3 class="display-4 font-select"> Top playmakers</h3>
</br>
    <table class="table">
        <thead>
            <tr>
                <th>Rank</th>
                <th>Name</th>
                <th>Team</th>
                <th>Position</th>
                <th>Appearances</th>
                <th>Assists</th>
            </tr>
        </thead>
        <tbody>
            {% for player_stat in top_playmakers %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ player_stat.player.name }}</td>
                <td>{{ player_stat.player.team }}</td>
                <td>{{ player_stat.player.position }}</td>
                <td>{{ player_stat.player.team.team_stat.wins|add:player_stat.player.team.team_stat.draws|add:player_stat.player.team.team_stat.loses }}</td>
                <td>{{ player_stat.numberofassists }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </br>
        <h3 class="display-4 font-select"> Matches</h3>
    </br>
    <table class="table">
        {% for fixture in fixture_list %}
        {% if fixture.status.statusname == 'Done' %}
                <thead>
                    <tr class="text-center" style="font-size: 19px">
                        <th>Team 1</th>
                        <th>Result</th>
                        <th>Team 2</th>
                        <th>Round</th>
                        <th>Stadium</th>
                        <th colspan="2">Time</th>
                    </tr>
                </thead>
                <tbody>
                    <tr style="background-color:#E0FEFE" class="text-center">
                        <td><b>{{fixture.team1}}</b></td>
                        <td><b>{{fixture.result.team1pts}}-{{fixture.result.team2pts}}</b></td>
                        <td><b>{{fixture.team2}}</b></td>
                        <td><b>{{fixture.round_name}}</b></td>
                        <td><b>{{fixture.stadium}}</b></td>
                        <td colspan="2"><b>{{fixture.time}}</b></td>
                    </tr>
                    <tr>
                        <td colspan="7" class="text-center"><b>Goal Events</b></td>
                    </tr>
                    <tr>
                        <th colspan="2">Scorer</th>
                        <th colspan="2">Assist</th>
                        <th>Team</th>
                        <th>Goal Type</th>
                        <th>Time</th>
                    </tr>
                    {% for fixture_id, goal_events in fixture_goal_events.items %}
                    {% if fixture_id == fixture.fixtureid %}
                        {% for goal_event in goal_events %}
                        <tr>
                            <td colspan="2">{{goal_event.player.name}}</td>
                            <td colspan="2">{{goal_event.assist_player.name}}</td>
                            <td>{{goal_event.player.team}}</td>
                            <td>{{goal_event.goal_type}}</td>
                            <td>{{goal_event.goal_time}}</td>
                        </tr>
                        {% endfor %}
                        {% endif %}
                        {% endfor %}
                        <tr style="background-color: #FFFFFF"><td colspan="7"><br></td></tr>
                    </tbody>
                    {% endif %}
                {% endfor %}
            </table>
    </br>
        <button onclick="location.href='{% url 'export-pdf' %}'" class="btn btn-primary">Export to PDF</button>
        <button onclick="location.href='/league'" class="btn btn-secondary">Go back</button>
    </div>
{% else %} 
    <script>
        window.location.replace("/login/");
    </script>
{% endif %}
{% endblock %}