{% extends "pages/league_base.html" %}
{% load static %}
{% block title %}League{% endblock %}

{% block content %}
{% if user.is_authenticated %}
    <div class="icon_logo">
        <div class="teams_icon">
        {% if user.user_profile.user_type == 'organizer' %}
        <button>
        <a href="/teams/add_team"><img src="{% static 'images/image_insert.png' %}" class="image_insert"/></a>
        </button>
        {% endif %}
        {% for team in team_list %}
            <img src="{{ team.team_image.url }}" class="icon"/>
        {% endfor %}
        </div>
        <div class="logo">
        <div class="user">
            <b class="username">{{username}}</b>
            <a href="{% url 'logout' %}" class="logout">Log Out</a>
        </div>
        <b class="logo_name">Premiere League</b>
        <b class="season">Season 2022 - 2023</b>
        <img src="{% static 'images/Premiere-League.png' %}" class="league-image"/>
        </div>
    </div>
    <div class="menu">
        <input type="checkbox" id="nav-toggle" class="nav-toggle">
        <label for="nav-toggle" class="nav-toggle-label">
        <span></span>
        </label>
        <ul class="nav-items">
        <li><a href="/">Home</a></li>
        <li><a href="/matches">Matches</a></li>
        <li><a href="/teams">Teams</a></li>
        <li><a href="/players">Players</a></li>
        <li><a href="/managers">Managers</a></li>
        <li><a href="/league">League</a></li>
        </ul>
    </div>
    <div class="container">
    </br>
        <h3 class="display-4"> Standings</h3>
    </br>
        <table class="table">
            <thead>
                <tr>
                    <th class="center-text">Pos</th>
                    <th></th>
                    <th>Team</th>
                    <th class="center-text">MP</th>
                    <th class="center-text">W</th>
                    <th class="center-text">D</th>
                    <th class="center-text">L</th>
                    <th class="center-text">GF</th>
                    <th class="center-text">GA</th>
                    <th class="center-text">GD</th>
                    <th class="center-text">Pts</th>
                </tr>
            </thead>
            <tbody>
                {% for team_stat in ranked_teams %}
                <tr>
                    <td class="center-text">{{ forloop.counter }}</td>
                    <td class="center-image">
                        <img src="{{ team_stat.team.team_image.url }}" height="27px">
                    </td>
                    <td>
                        <b>{{ team_stat.team.team_name }}</b>
                    </td>
                    <td class="center-text">{{ team_stat.wins|add:team_stat.draws|add:team_stat.loses }}</td>
                    <td class="center-text">{{ team_stat.wins }}</td>
                    <td class="center-text">{{ team_stat.draws }}</td>
                    <td class="center-text">{{ team_stat.loses }}</td>
                    <td class="center-text">{{ team_stat.goals }}</td>
                    <td class="center-text">{{ team_stat.goalsconceded }}</td>
                    <td class="center-text">{{ team_stat.goaldifference }}</td>
                    <td class="center-text"><b>{{ team_stat.pts }}</b></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>     
    </br>
        <button onclick="location.href='/league'" class="btn btn-secondary">Go back</button>
    </div>
{% else %} 
    <script>
        window.location.replace("/login/");
    </script>
{% endif %}
{% endblock %}